.container {

  .table {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
  }
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    border-bottom: solid 1px lightgray;
    min-width: 37rem;
    
    .field {
      margin: 1rem;
      min-width: 5rem;

      &.head{
        font-size: 14px;
        color: #BC2053;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
}